.datatable-hidden-fields {
  border-bottom: 1px solid #d8dce8;
  padding: 8px 1rem;
  margin-bottom: 1rem;
}
.custom-left {
  width: 270px;
  padding: 0;
  min-height: 100vh;
}
.datatable-hidden-fields .dropdown-toggle {
  background-color: gray;
  border-color: gray;
  color: #fff;
}
.datatable-hidden-fields .add-button {
  background-color: gray;
  border-color: gray;
  color: #fff;
}
.form-control {
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
}
.datatable-hidden-fields .dropdown-menu {
  padding: 10px;
}
.datatable-hidden-fields .dropdown-search .form-control {
  background-color: #f7f8fb;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-left: 0;
  border-right: 0;
}
.dropdown-menu .form-switch .form-check-input:checked + .form-check-label {
  color: #000000;
}
.dropdown-menu .form-switch .form-check-label {
  color: #d1d3e8;
}
.dropdown-menu .form-switch .form-check-input {
  width: 1.5rem;
  height: 13px;
  background-color: #d1d3e8;
  background-image: url("../assets/images/bg-switch.svg");
}
.dropdown-menu .form-switch .form-check-label {
  color: #d1d3e8;
}
.dropdown-menu .form-switch .form-check-input:checked {
  background-color: #6fd475;
  border-color: #6fd475;
}
.dropdown-menu .form-switch .form-check-input:checked + .form-check-label {
  color: #000000;
}
.dropdown-menu .form-switch .form-check-input:focus {
  box-shadow: none;
  outline: none;
  border: none;
}

.form-switch {
  padding-left: 0;
}

.custom-right {
  background-color: rgba(0, 0, 0, 0.06);
  padding-left: 0;
  padding-right: 0;
  padding-top: 15px;
  margin-top: 12px;
}
.tbl-info {
  border-radius: 6px;
}
.table-bordered > :not(caption) > * {
  border-width: 1px;
}
.row-high th,
.row-high td {
  background-color: #19406f;
  color: #fff;
  font-weight: 600;
  text-align: center;
}
.dropdown-menu .form-switch .form-check-label {
  color: #000 !important;
}
.datatable-hidden-fields .dropdown-search {
  margin-bottom: 1rem;
}
.input-group-append {
  position: relative;
}
.dropdown-search .input-group-text {
  background-color: var(--bg-transparent);
  height: 100%;
  padding: 0 10px;
  border-radius: 0;
  position: absolute;
  border: none;
  font-size: 14px;
  z-index: 6;
}
.input-group
  > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(
    .valid-feedback
  ):not(.invalid-tooltip):not(.invalid-feedback) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-left: 0;
  border-right: 0;
}
.group-name {
  background-color: #19406f;
  color: #fff;
  font-weight: 600;
  text-align: center;
  height: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
h6 {
  margin-bottom: 0;
}
.spinner-border {
  position: absolute;
  right: 50%;
}
.suggestions-list {
  position: absolute;
  width: 430px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

.suggestions-list li {
  display: flex;
  justify-content: center;
  padding: 5px;
  /* cursor: pointer; */
}

.suggestions-list li:hover {
  background-color: #f4f4f4;
}
.ms-3{
  cursor: pointer;
}
.disable{
  color: gray;
  cursor: not-allowed;
}
.form-check-label{
  cursor: pointer;
}
.datatable-hidden-fields .dropdown-search .form-control {
  border-radius: 0;
  border-left: none;
  border-right: none;
  padding-left: 36px;
}
.form-control-update{
  border: 2px solid black
}