.datatable-hidden-fields {
  background-color: #f7f8fb;
  border-bottom: 1px solid #d8dce8;
  padding: 8px 1rem;
  margin-bottom: 1rem;
}
.custom-left {
  background-color: rgba(0, 0, 0, 0.06);
  padding-top: 15px;
}
.datatable-hidden-fields .dropdown-toggle {
  background-color: #f4e5ee;
  border-color: #eeb1cb;
  color: #000000;
}
.form-control {
  margin-bottom: 10px;
}
.datatable-hidden-fields .dropdown-menu {
  padding: 10px;
}
.datatable-hidden-fields .dropdown-search .form-control {
  background-color: #f7f8fb;
}
.dropdown-menu .form-switch .form-check-input:checked + .form-check-label {
  color: #000000;
}
.dropdown-menu .form-switch .form-check-label {
  color: #d1d3e8;
}
.dropdown-menu .form-switch .form-check-input {
  width: 1.5rem;
  height: 13px;
  background-color: #d1d3e8;
  background-image: url("../assets/images/bg-switch.svg");
}
.dropdown-menu .form-switch .form-check-label {
  color: #d1d3e8;
}
.dropdown-menu .form-switch .form-check-input:checked {
  background-color: #6fd475;
  border-color: #6fd475;
}
.dropdown-menu .form-switch .form-check-input:checked + .form-check-label {
  color: #000000;
}
.dropdown-menu .form-switch .form-check-input:focus {
  box-shadow: none;
  outline: none;
  border: none;
}
.custom-right {
    background-color: rgba(0,0,0,0.06);
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
}
.tbl-info{
    border-radius: 6px;;
}
.table-bordered>:not(caption)>* {
    border-width:1px;
}
.row-high th, .row-high td {
    background-color: #19406f;
    color: #fff;
    font-weight: 600;
    text-align: center;
}
.dropdown-menu .form-switch .form-check-label {
  color: #000 !important;
}
